body {
    display: grid;
    grid-template-columns: auto;
    justify-content: center; 
    align-items: center;               
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
         
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header {
    border: 3px solid #b3a369;
    padding: 20px;
    text-align: center;
    font-size: large;
    margin-bottom: 20px;
    color: rgb(40, 83, 202);
    font-weight: bold;
   
}

.guesses {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin-bottom: 10px;
}

.square {
    height: 55px;
    width: 55px;
    background-color: white;
    border: 3px solid lightgrey;
    border-radius: 2px;
    margin-bottom: 10px;
}

.keyboard {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.row1, .row2, .row3 {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.key {
    width: 40px;
    height: 60px;
    background-color: #b3a369;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}

#special {
    width: 80px;
}
